.cross
{
    color: var(--bs-red);
    transition: 0.25s;
}

.pointer
{
    cursor: pointer;
}

.cross:hover
{
    color: #ee0e24;
}

.card-text 
{
    font-size: 13px;
    margin-left: 6px;
}

.font-weight-normal 
{
    font-weight: 400!important;
}

div.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    text-overflow: ellipsis;
}